/* Form.css */

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Button-Form {
    padding: 20px 40px;
    width: 200px;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background: rgba(15, 2, 15, 0.4);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  